html {
    /* TODO: change to /img/...png before merging. */
    background: url(../img/value-iteration-background-gray-lightened.png);
}

body {
    font-family: "Fauna One", sans-serif;
}

a , .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #43a047; /* green darken-1 */
}

a:hover, a:active ,
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover,
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):active {
    color: #0d47a1; /* blue darken-4 */
}

h1 , h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    color: #0d47a1;
}