body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-width: 200px;
    text-align: center;
    font-family: "Fauna One", sans-serif;
    color: #333237;
}

.custom-container::after { /* transparent background image */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.25;
    z-index: -1;
    background: url(value-iteration-background.png);
    width: 100%;
    height: 100%;
}

h1.header-name {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 250%;
    color: #4D4A58;
}

div.description {
    margin-bottom: 1em;
}

/* code for responsive circles from http://littledice.me/2014/04/16/responsive-circles-with-css/ */

div.project {
    margin-left: 2em;
    margin-bottom: 2em;
    border-radius: 50%;
    width: 30%;
    min-width: 170px;
    max-width: 425px;
    position: relative;
    border: 1px solid black;
    display: inline-block;
    background-color: white; /* For when there's no background image */
}

div.project-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 15%;
    padding-left: 14%;
    padding-right: 14%;
}

div.project::before {
    content: "";
    display: block;
    padding-top: 100%;
}