html {
    /* TODO: change to /img/...png before merging. */
    background: url(../img/value-iteration-background-gray-lightened.png);
}

body {
    font-family: "Fauna One", sans-serif;
}

a {
    color: #43a047; /* green darken-1 */
}

a:hover, a:active {
    color: #0d47a1; /* blue darken-4 */
}

h1 , h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    color: #0d47a1;
}

.chip {
    margin: 4px 2px;
}

.collapsible-header {
    line-height: 1.5;
    padding: 1rem;
}

.collapsible-body {
    background-color: #fafafa;
}
